{% extends 'base.html' %}

{% block content %}
    <section class="hero container">
        <div class="hero__image">

        </div>

        <div class="hero__text container--pall">
            <h1>
                Grow your potential
            </h1>

            <p>
                Explore upcoming opportunities through HIRE 
            </p>

            <a href="#" class="button hero__cta">Get Started</a>
        </div>

    </section>

    <section class="infoA">
        <div class="container container--pall">
            <div class="infoA__intro">
    
                <h1>
                    We solve these problems
                </h1>
    
                <h2>
                    Obstacles that international students in Korea are facing:  
                </h2>
    
            </div>
    
            <div class="infoA__box">
                <div class="infoA__box1">
                    <div class="infoA__text">
                        <h2>
                            🥲 Demanding Extracurricular
                        </h2>
        
                        <p>
                            - Along with GPA and SAT score, the importance of extracurriculars in terms of college acceptance is high 
                            <br>
                            - Students seek for more unique extracurriculars that even an adult finds challenging
                            <br>
                            - As a result, students reach out to unfair method: consultants and ghostwriters
                        </p>
                    </div>
                </div>

                <div class="infoA__gap"></div>

                <div class="infoA__box2">
                    <div class="infoA__text">
                        <h2>
                            ⚖️ Unfair Opportunities
                        </h2>
        
                        <p>
                            - The more people he knows and the more money he spends, the range of extracurricular opportunities widens.
                            <br>
                            - Example: internship, ghostwriting, awards…etc
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="infoB container container--pall">
        <h1>
            So… What do we do?
        </h1>

        <h2>
            🏝 Connect various opportunities(ex. internship) for Jeju International School students
        </h2>

        <p>
            How?
            <br>
            - Through cooperation with the company that can provide opportunities for students, we look for applicants through this website
        </p>
    </section>

    <section class="infoC">
        <div class="container container--pall">
            <h1>
                We expect these effects
            </h1>

            <div class="infoC__box">
                <div class="infoC__boxText">
                    <h2>
                        🏢 Company
                    </h2>

                    <p>
                        - Fulfills social value by providing opportunities to make a meaningful experience
                        <br>
                        - Can gain feedback and insight from a perspective of a teenager about the ongoing projects. 
                    </p>
                </div>

                <div class="infoC__gap"></div>

                <div class="infoC__boxText">
                    <h2>
                        👨🏻‍🎓 Students
                    </h2>

                    <p>
                        - An internship opportunity is given without a consultant or personal connections
                        <br>
                        - Can experience the society and the real field
                        <br>
                        - Gain an extracurricular
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="partners container container--pall">
        <h1>
            Partners
        </h1>
    </section>

{% endblock %}