{% extends 'base.html' %}

{% block content %}

    <section class="compInfo">
        <h1 class="container container--pall">
            Upcoming Internship Opportunity
        </h1>

    <!-- 
        this part of the html should be repeated with variables(should implement datas) 
    -->

        <div class="compInfo__contacts container container--pall">
            <div class="compInfo__box flex flex-jc-sb">
                <div class="compInfo__img">
                    <h1>COMPANY</h1>
    
                    <img src="/static/images/white.png" alt="test">
    
                    <h2>#interest</h2>
                </div>
    
                <div class="compInfo__text">
                    <p>
    
                        2022-2023 Winter Internship
                        <br><br>
                        - Interst...<br>
                        - GPA... <br>
                        - Experience... <br>
                        - Skills... <br>
                        
                    </p>
                </div>
    
                <div class="compInfo__more">
                    <p>Application result release: <br> <U>November 1st</U></p>
                    <!-- 
                        a tag should lead to a page matching the company name
                    -->
                    <a href="opportunity/company1" class="button">I'm Interested</a>
                </div>
            </div>
        </div>


        
    </section>

{% endblock %}